	h1 {
		font-family: sans-serif, Lucinda;
		font-size: 20px;
		border-radius: 10px;
		color: darkslateblue;
		border: 10px gold solid;
		clip: right left;
		text-align: center;
	}
	body {
		background-color: rgba(220, 120, 100, 1.0);
		font-size: 20px;
		font-family: sans-serif, fantasy;
	}